.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;

  background: #343a40;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.cards footer{
  font-size: 20px;
}

.cards .icon{
  font-size: 90px
}
