
.hero {
  height: 70vh;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../../../assets/hero2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
}

.nav-items-desktop a {
  color: #fff;
  padding: 0px 15px;
  cursor: pointer;
  font-weight: 500;
}

nav a:hover {
  color: var(--lightblue);
  transition: all ease-in 0.3s;
}



.social-media a {
  padding: 3px 12px;
  background-color: var(--strongblue);
  font-weight: 500;
  border-radius: 7px;
  color: #e7eaec;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}


.social-media a:hover {
  background-color: #27187e;
  transition: all ease-in 0.2s;
}


.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  background: #343a40;
  box-shadow: 0 0 10px #00000080;
  border-radius: 10px;
  transition: all .2s ease-in;
}


.cards:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 4px 5px #000000bf;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, .75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, .75);
}


@media screen and (max-width: 578px) {
  .hero {
    margin-top: 50px;
    height: 40vh;
  }

  .social-media a {
    padding: 8px 10px;
  }

  .social-icon {
    font-size: 0.9rem;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 430px) {
  .social-media a {
    margin: 0px 1px;
    padding: 8px 10px;
  }

}


@media screen and (max-width: 380px) {
  .social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}