header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  background-color: var(--body1);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.hero {
  height: 70vh;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../../../assets/hero2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
}

@media screen and (max-width: 578px) {
  .hero {
    margin-top: 50px;
    height: 40vh;
  }

  .social-media a {
    padding: 8px 2px;
  }

  .social-icon {
    font-size: 0.9rem;
  }

  .social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 430px) {
  .social-media a {
    margin: 0px 1px;
    padding: 8px 2px;
  }

}

@media screen and (max-width: 415px) {
  #mobile-menu {
    height: 960px;
    width: 150px !important;
  }
}


@media screen and (max-width: 380px) {
  .social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}


.nav-items-desktop a {
  color: #fff;
  padding: 0px 10px;
  cursor: pointer;
  font-weight: 500;
}

nav a:hover {
  color: var(--lightblue);
}


.nav-items-mobile a {
  padding: 0px 10px;
  cursor: pointer;
  font-weight: 500;
  color: var(--lightblue);
  text-decoration: none;
}


.nav-items-mobile a:hover {
  color: var(--tinblue);
}



#nav-mobile:not(:checked) #mobile-menu {
  display: none;
}

#mobile-menu-toggle:checked~#mobile-menu {
  display: block;
  transform: translateX(0%);
}

#mobile-menu {
  position: fixed;
  z-index: 111;
  top: 0;
  right: 0;
  bottom: 0;
  background: #343a40;
  height: 960px;
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}





#mobile-menu li a {
  margin: 10px 0px;
}


#mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

#mobile-menu-close label {
  cursor: pointer;
}

#mobile-menu-close label:hover {
  color: var(--blue);
}


#about h1 {
  font-size: 35px;
  color: var(--lightblue);
  font-weight: 600;
}

.social-media a {
  padding: 2px 12px;
  background-color: var(--strongblue);
  font-weight: 500;
  border-radius: 7px;
  color: #e7eaec;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}


.social-media a:hover {
  background-color: #27187e;
  transition: all ease-in 0.2s;
}
