@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html, body{
  background-color: var(--body1);
  color: #fff;
}

.container{
  margin: 0px auto;
}
:root{
  --strongblue: #013a63;
  --mediumblue: #014f86;
  --lightblue: #61a5c2;
  --tinblue: #e3f2fd;
  --body1: #111827;
  --body2: #334155;
}
