<section id="experience" class="pt-28 flex flex-col">

  <h2 class="border-b-2 text-3xl font-semibold">Experience</h2>
  <article class="card-experience flex flex-col items-center rounded-md mt-3 text-black px-2 py-2">
    <div class="company flex flex-row justify-between items-center w-full px-6">
      <div>
        <h3 class="text-lg font-bold">MAPFRE</h3>
        <h3 class="text-lg font-bold">Web developer</h3>
      </div>
      <p class="font-semibold">October 2022 - Present</p>
    </div>
    <div class="description px-6">
      <p>Worked in team with other developers and collaborated with other departments
        to ensure that systems meet user and business requirements. Conducted testing, debugging and code
        analysis to improve the quality and functionality of systems. Participated in meetings with the
        project management team to set goals and define system requirements.</p>
      <div class="description-tecnologies mt-2">
        <fa-icon class="px-1 text-2xl text-blue-950" *ngFor="let item of experienceTecnologies"
          [icon]="item.icon"></fa-icon>
      </div>
    </div>
  </article>
</section>
